<a href="https://colab.research.google.com/github/yuuhyun/python_taehoon_itwill/blob/main/20250501_python19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import seaborn as sns
import math

# tips 데이터 셋

In [ ]:
# seaborn 패키지의 tips 예제 데이터 셋을 로드
tips = sns.load_dataset('tips')

In [ ]:
print(type(tips))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

# 연습문제

*   DataFrame의 row, column 개수
*   DataFrame의 컬럼 이름
*   DataFrame에서 첫 5개 row 출력
*   DataFrmae에서 마지막 5개 row 출력
*   DataFrame의 요약 정보 출력
*   DataFrame에서 숫자 타입 변수들의 기술 통계량 출력
*   DataFrame에서 카테고리 타입 변수들의 빈도수 출력
*   total_bill 컬럼의 값이 최댓값인 행을 출력
*   total_bill 컬럼의 값이 최솟값인 행을 출력
*   남성(sex)들의 팁(tip)의 평균 출력
*   여성(sex)들의 팁(tip)의 평균 출력
*   일요일(day)의 팁(tip)의 평균 출력
*   일요일(day), 남성(sex)의 팁(tip)의 평균 출력
*   일요일(day), 여성(sex)의 팁(tip)의 평균 출력

In [ ]:
# DataFrame의 row, column 개수
print('DataFrame의 row, column 개수: ', tips.shape)

# DataFrame의 컬럼 이름
print('DataFrame의 컬럼 이름: ', tips.columns[0:])

DataFrame의 row, column 개수:  (244, 7)
DataFrame의 컬럼 이름:  Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [ ]:
print('rows=', tips.shape[0])
print('columns=', tips.shape[1])

rows= 244
columns= 7

In [ ]:
for col in tips.columns:
    print(col)

total_bill
tip
sex
smoker
day
time
size

In [ ]:
# DataFrame에서 첫 5개 row 출력
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
# DataFrmae에서 마지막 5개 row 출력
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [ ]:
# DataFrame의 요약 정보 출력
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [ ]:
# DataFrame에서 숫자 타입 변수들의 기술 통계량 출력
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [ ]:
# DataFrame에서 카테고리 타입 변수들의 빈도수 출력
tips.sex.value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [ ]:
tips.smoker.value_counts()

smoker
No     151
Yes     93
Name: count, dtype: int64

In [ ]:
tips.day.value_counts()

day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64

In [ ]:
tips.time.value_counts()

time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [ ]:
tips['size'].value_counts()

size
2    156
3     38
4     37
5      5
1      4
6      4
Name: count, dtype: int64

In [ ]:
# total_bill 컬럼의 값이 최댓값인 행을 출력
# tips[tips['total_bill'] == tips['total_bill'].max()]

tips[tips.total_bill == tips.total_bill.max()]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [ ]:
# total_bill 컬럼의 값이 최솟값인 행을 출력

In [ ]:
tips[tips['total_bill'] == tips['total_bill'].min()]

    total_bill  tip     sex smoker  day    time  size
67        3.07  1.0  Female    Yes  Sat  Dinner     1

In [ ]:
# 남성(sex)들의 팁(tip)의 평균 출력
# tips에서 'sex' == Male인 DataFrame을 추출하여 생성하고, 거기서 ['tip']을 사용하여 tip 값만 데이터를 가져온다. mean() 함수로 평균 계산
#np.float() 형식으로 값이 나와서 float() 안에 값을 집어넣어 실수값이 깔끔하게 나오도록 코드 작성
float(tips[tips['sex'] == 'Male']['tip'].mean())

3.0896178343949043

In [ ]:
# 성별이 남성인 레코드만으로 만들어진 DF

male_df = tips[tips.sex == 'Male']
male_df.tip.mean()

np.float64(3.0896178343949043)

In [ ]:
# 여성(sex)들의 팁(tip)의 평균 출력

In [ ]:
float(tips[tips['sex'] == 'Female']['tip'].mean())

2.8334482758620685

In [ ]:
female_df = tips[tips.sex == 'Female']
female_df.tip.mean()

np.float64(2.8334482758620685)

In [ ]:
# 일요일(day)의 팁(tip)의 평균 출력

float(tips[tips['day'] == 'Sun']['tip'].mean())

3.2551315789473687

In [ ]:
# 일요일(day), 남성(sex)의 팁(tip)의 평균 출력

float(tips[(tips['sex'] == 'Male') & (tips['day'] == 'Sun')]['tip'].mean())

3.2203448275862065

In [ ]:
# 일요일(day), 여성(sex)의 팁(tip)의 평균 출력

float(tips[(tips['sex'] == 'Female') & (tips['day'] == 'Sun')]['tip'].mean())

3.3672222222222223

In [ ]:
# Series.unique(): Series의 중복되지 않는 값들로 이루어진 리스트를 리턴.
days = []

for day in tips.day.unique():
    days.append(day)

print(days)

for day in days:
    print(tips[tips.day == day].tip.mean())

['Sun', 'Sat', 'Thur', 'Fri']
3.2551315789473687
2.993103448275862
2.771451612903225
2.7347368421052627

In [ ]:
for d in tips.day.unique():
    subset_df = tips[tips.day == d]
    tip_mean = subset_df.tip.mean()
    print(f'{d}: {tip_mean}')

Sun: 3.2551315789473687
Sat: 2.993103448275862
Thur: 2.771451612903225
Fri: 2.7347368421052627

## 식사 시간(Lunch, Dinner)별 팁의 평균

In [ ]:
for t in tips.time.unique():
    subset_df = tips[tips.time == t]
    tip_mean = subset_df.tip.mean()
    print(f'{t}: {tip_mean}')

Dinner: 3.102670454545454
Lunch: 2.728088235294118

# titanic 데이터 셋

In [ ]:
titanic = sns.load_dataset('titanic')

In [ ]:
print(type(titanic))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

titanic 데이터프레임 컬럼 설명:
* survived: 생존 여부(0=사망, 1=생존)
    * alive 컬럼과 같은 내용(no=사망, yes=생존)
* pcclass: 객실등급
    * class 컬럼과 같은 내용(1=First, 2=Second, ...)
* sex: 성별(male/female)
* who: 성인남성(man), 성인여성(woman), 어린이(child)
* age: 나이
* sibsp: 동행한 형제자매 또는 배우자의 수
* parch: 동행한 부모 또는 자녀의 수
* fare: 탑승권 가격. 운임.
* adult_male: 성인 남성인 지 여부

In [ ]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [ ]:
titanic.head(n=7)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True

In [ ]:
titanic.tail(n=7)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
884,0,3,male,25.0,0,0,7.050,S,Third,man,True,NaN,Southampton,no,True
885,0,3,female,39.0,0,5,29.125,Q,Third,woman,False,NaN,Queenstown,no,False
886,0,2,male,27.0,0,0,13.000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.450,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.750,Q,Third,man,True,NaN,Queenstown,no,True

## 생존자 비율

* 전체 승객 중 남성 생존자 비율, 여성 생존자 비율
    * 남성 생존자 비율 = (남성 생존자 수) / (전체 승객 수)
    * 여성 생존자 비율 = (여성 생존자 수) / (전체 승객 수)

* 생존자들 중 남성 생존자 비율, 여성 생존자 비율
    * 남성 생존자 비율 = (남성 생존자 수) / (전체 생존자 수)
    * 여성 생존자 비율 = (여성 생존자 수) / (전체 생존자 수)

* 생존자들 중 성인 생존자 비율, 어린이 생존자 비율
    * 성인 생존자 비율 = (성인 생존자 수) / (전체 생존자 수)
    * 어린이 생존자 비율 = (어린이 생존자 수) / (전체 생존자 수)

In [ ]:
msurvived_titanic = titanic[(titanic.sex == 'male')&(titanic.survived == 1)]
fsurvived_titanic = titanic[(titanic.sex == 'female')&(titanic.survived == 1)]

malerate = len(msurvived_titanic) / len(titanic)
femalerate = len(fsurvived_titanic) / len(titanic)

print(f'남성 생존자 비율: {malerate * 100}')
print(f'여성 생존자 비율: {femalerate * 100}')

남성 생존자 비율: 12.2334455667789
여성 생존자 비율: 26.15039281705948

In [ ]:
survived = titanic[titanic.survived == 1]

male_survived = len(msurvived_titanic) / len(survived)
female_survived = len(fsurvived_titanic) / len(survived)

print(f'남성 생존자 비율: {male_survived * 100}')
print(f'여성 생존자 비율: {female_survived * 100}')

남성 생존자 비율: 31.871345029239766
여성 생존자 비율: 68.12865497076024

In [ ]:
adult_suv = titanic[(titanic.age >= 18)&(titanic.survived == 1)]
child_suv = titanic[(titanic.age < 18)&(titanic.survived == 1)]

adult_suvrate = len(adult_suv) / len(survived)
child_suvrate = len(child_suv) / len(survived)

print(f'성인 생존자 비율: {adult_suvrate * 100}')
print(f'어린이 생존자 비율: {child_suvrate * 100}')

성인 생존자 비율: 66.95906432748538
어린이 생존자 비율: 17.83625730994152

In [ ]:
# 전체 승객수
num_of_total = titanic.shape[0]
num_of_total

891

## 객실 등급별 생존자 비율

* (1등급 객실 생존자 비율) = (1등급 객실 생존자 수) / (전체 생존자 수)
* (2등급 객실 생존자 비율) = (2등급 객실 생존자 수) / (전체 생존자 수)
* (3등급 객실 생존자 비율) = (3등급 객실 생존자 수) / (전체 생존자 수)

In [ ]:
first_suv = titanic[(titanic.pclass == 1)&(titanic.survived == 1)]
second_suv = titanic[(titanic.pclass == 2)&(titanic.survived == 1)]
third_suv = titanic[(titanic.pclass == 3)&(titanic.survived == 1)]

first_suvrate = len(first_suv) / len(survived)
second_suvrate = len(second_suv) / len(survived)
third_suvrate = len(third_suv) / len(survived)

print(f'1등급 객실 생존자 비율: {int(first_suvrate * 100)}%')
print(f'2등급 객실 생존자 비율: {int(second_suvrate * 100)}%')
print(f'3등급 객실 생존자 비율: {int(third_suvrate * 100)}%')

1등급 객실 생존자 비율: 39%
2등급 객실 생존자 비율: 25%
3등급 객실 생존자 비율: 34%

* (1등급 객실 생존자 비율) = (1등급 객실 생존자 수) / (1등급 객실 승객수)
* (2등급 객실 생존자 비율) = (2등급 객실 생존자 수) / (2등급 객실 승객수)
* (3등급 객실 생존자 비율) = (3등급 객실 생존자 수) / (3등급 객실 승객수)

In [ ]:
first = titanic[titanic.pclass == 1]
second = titanic[titanic.pclass == 2]
third = titanic[titanic.pclass == 3]

first_suvrate = len(first_suv) / len(first)
second_suvrate = len(second_suv) / len(second)
third_suvrate = len(third_suv) / len(third)

print(f'1등급 객실 생존자 비율: {first_suvrate * 100}')
print(f'2등급 객실 생존자 비율: {second_suvrate * 100}')
print(f'3등급 객실 생존자 비율: {third_suvrate * 100}')

1등급 객실 생존자 비율: 62.96296296296296
2등급 객실 생존자 비율: 47.28260869565217
3등급 객실 생존자 비율: 24.236252545824847

In [ ]:
for c in titanic.pclass.unique():
    # 각 객실 등급의 승객 수
    num_of_class = len(titanic[titanic.pclass == c])
    # 각 객실 등급의 생존자 수
    num_of_class_alive=len(titanic[(titanic.pclass == c)&(titanic.alive == 'yes')])
    # 각 객실 등급에서 생존자 비율
    print(f'{c}등급 객실에서 생존자 비율: {num_of_class_alive/num_of_class*100}')

3등급: 24.236252545824847
1등급: 62.96296296296296
2등급: 47.28260869565217

In [ ]:
titanic[titanic.age.isna()]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
17,1,2,male,NaN,0,0,13.0000,S,Second,man,True,NaN,Southampton,yes,True
19,1,3,female,NaN,0,0,7.2250,C,Third,woman,False,NaN,Cherbourg,yes,True
26,0,3,male,NaN,0,0,7.2250,C,Third,man,True,NaN,Cherbourg,no,True
28,1,3,female,NaN,0,0,7.8792,Q,Third,woman,False,NaN,Queenstown,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,0,3,male,NaN,0,0,7.2292,C,Third,man,True,NaN,Cherbourg,no,True
863,0,3,female,NaN,8,2,69.5500,S,Third,woman,False,NaN,Southampton,no,False
868,0,3,male,NaN,0,0,9.5000,S,Third,man,True,NaN,Southampton,no,True
878,0,3,male,NaN,0,0,7.8958,S,Third,man,True,NaN,Southampton,no,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False